<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.purch.com/h/1400/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwMC81NTcvb3JpZ2luYWwvYmFieS1ibGlua2luZy1zaHV0dGVyc3RvY2suanBn);">
  <div class="container">
    <h1>Rent a baby next to you!</h1>
      <%= simple_form_for :query, url: results_path, method: :get, html: { class: "form-inline baby-form" } do |f| %>
          <%= f.input :city, placeholder: "Paris", input_html: { required: true }  %>
          <%= f.input :age, as: :integer, placeholder: "age max" %>
          <%= f.input :price, as: :integer, placeholder: "price max"  %>
          <%= f.button :submit, "Find a baby", class: 'btn btn-success violet' %>
      <% end %>
  </div>
</div>
