<div class="container container-baby-show">
  <div class="card-baby-info-box">
    <div class="baby-basic-info text-center" >
      <div class="baby-photo">
        <%= cl_image_tag @baby.photo, height: 150, width: 150, crop: :fill, radius: 80, class: 'test' %>
      </div>
      <div class="baby-info">
        <h2><%= @baby.name %></h2>
        <p>Age: <%= @baby.age %> | Price: <%= @baby.price %>$</p>
      </div>
    </div>
    <hr>
    <div class="baby-description text-center">
      <p><em>"<%= @baby.description %>"</em></p>
    </div>
    <div class="baby-btn text-center">
      <%= link_to "Book this baby", new_baby_booking_path(@baby), :class => "btn-medium" %>
      <%= link_to "Back to search", :back, :class => "btn-medium" %>
    </div>

    <% if policy(@baby).edit?  %>
      <div class="btn-edit">
        <%= link_to edit_baby_path(@baby), class: "pencil-size" do %>
        <i class="fas fa-pencil-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

  <div class="review text-center">
    <h2>What people think about <br><%= @baby.name %></h2>
  </div>


<!-- REVIEWS -->
<div class="container container-baby-show">
  <div class="container card-baby-info-box">
    <% @baby.reviews.each do |review|%>
      <div class="message">
        <%= cl_image_tag review.user.photo, height: 100, width: 100, crop: :fill, radius: 80 %>
        <div class="message-name">
          <%= review.user.first_name %>
          <p><%= review.created_at.strftime("%d-%m-%Y") %></p>
        </div>

        <div class="message-body">
          <p><strong>Title of the review</strong></p>
          <p><%= review.content %></p>
          <p class="rating"><%= review.rating %>/5</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- BOUTTONS -->
<div class="container" id="btn-flex">
  <%= link_to "Add a review", new_baby_review_path(@baby), :class => "btn-medium" %>
</div>


