
<div class="container">
  <h1><%= @baby.name %></h1>
  <h3><strong>Age :</strong><%= @baby.age %> years</h3>
  <p><strong>Présentation :</strong> <%= @baby.description %></p>
  <p><strong>Prix :</strong> <%= @baby.price %></p>
  <p>Reviews</p>
</div>

<p><% @baby.reviews.each do |review|%>
  <%= review.content %>
<% end %> </p>

