<h1>Add a new review</h1>

<%= simple_form_for [@baby, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Add a review", class: "btn btn-primary" %>
<% end %>



<br>

<%= link_to 'Back to list', baby_path(@baby) %>
